#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    position: relative;
    top:90px;
    padding:15px 0px;
    font-size: 18px;
    margin-bottom: -7px;
    transition: all 0.3s ease-in-out;
}

#friends-display-link:hover,
#friends-display-link:hover i{
    transform: scale(1.1) translateY(-1px);
    color:red;
}

#friends-display-link i{
    color: rgba(0,0,0,0.3)
}

.friends-screen{
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel{
    position: relative;
    top:115px;
    border-top: var(--main-border);
    padding-top: 15px;
}
.friends-screen__channel-header{
    margin-bottom: -80px;
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.5);
}
.user_component__column:last-child{
    color: rgba(0,0,0,0.5);
}

@keyframes hideSplashScreen{
    from{opacity: 1;}
    to{opacity: 0;
    visibility: hidden;}
}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 1s;
}