
.welcome-header{
    flex-direction: column;
    margin: 90px 0px;
    display:flex;
    text-align: center;
    align-items: center;
}
.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.welcome-header__text{
    width:60%;
    opacity: 0.7;
}
#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
#login-form input{
    border:none;
    padding:15px 0px;
    font-size:18px;
    margin-bottom:25px;
}

#login-form input:not([type="submit"]){
    border-bottom:1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}
/*not 내에 적은 특성들은 해당 input을 제외한 나머지 input에는 적용된다는 말씀*/
/*[]사이에 쓰인 것들은 특성 선택자(attribute selector)*/
#login-form input::placeholder{
    color:rgba(0,0,0,0.4);
}
/*::은 한 개체 내의 atr을 select할 때 사용*/
#login-form input:focus{
    border-color:var(--yellow);
}
#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}
/*cursor은 그 버튼 위에 올라갔을 때의 마우스 커서 모양을 지칭*/
#login-form a{
    text-align: center;
    text-decoration: none;/*text데코는 밑줄을 없애줌*/
    color: inherit;/*글자색은 상속 즉, 아버지가 돌아가면 아버지로부터 상속받음. 이때 login-form(아버지)의 default색은 검정이므로, 이 a의 색은 검정아다.*/
    font-size: 13px;
}
