@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.show-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}
.color-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}

.color-box__column{
    width: 160px;
    height: 300px;
    border: 7px solid white;
    margin:10px;
    position: relative;
}

.color-box__column:first-child{
    background-color: tomato;
}

.color-box__column:nth-child(2){
    background-color: teal;
}

.color-box__column:nth-child(3){
    background-color: burlywood;
}

.color-box__column:last-child{
    background-color: thistle;
}

.color-box__column-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 100%;
    top:20px;
}
