.icon-row{
    display: flex;
    justify-content: space-between;
}
.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;/*align item은 보조축에 쓰임(여기서는 가로축)*/
}
.icon-row__icon i{
    font-size: 35px;
}
.icon-row__icon span{
    margin-top: 15px;
}